VITE_SUPABASE_URL=https://vtgnauznainlyxlseqwv.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ0Z25hdXpuYWlubHl4bHNlcXd2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg0Mjc0MjIsImV4cCI6MjEwNDAwMzQyMn0.40Rnr4YCWw9mkarrvPnejILBaaaZlRp1eVK6BZmJFZ8
VITE_API_URL=https://your-backend.onrender.com/api